@import url("rootVariaveis.css");
body{
    background-color: var(--cor-fundo);
    min-height: 100vh;
}
.container{
    background-color: var(--cor-fundo);
    min-height: 100vh;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    
}
.container-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    margin: 20px 0;
}
.logoImagem{
    width: 250px;
}
.accordion-item{
    background: var(--cor-fundo);
    margin: 5px 0;
    max-width: 600px;
    width: 100%;
}
.accordion-button{
    display: flex;
    align-items: center;
    justify-content: space-between;    
}
.accordion-button h3,
.accordion-button h5{
    width: 80%;
    text-align: left;
}
.accordion-button[aria-expanded="false"]{
    background: var(--cor-mule);
    color: var(--cor-fundo);
    
}
.accordion-button[aria-expanded="true"]{
    background: var(--cor-fundo2);
    color: var(--cor-mule);
}
.image{
    width: 100%;
    height: 100%;
    max-height: 300px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.image img{
    width: 100%;
}
.ingredientes{
    color: var(--cor-mule);
}
.list-group-item{
    color: black;
}
.card-footer{
    margin-top: 10px;
    background: var(--cor-mule);
}
.preco{
    color: var(--cor-fundo);
    font-size: 30px;
    text-shadow: 0 0 8px rgb(63, 63, 63);
    font-weight: 700;
}
footer{
    height: 50px;
    width: 100%;
    background: var(--cor-mule);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-fundo);
}
.voltar{
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 10000;
}
.minicards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    margin: 10px 0;
}
.accordion-item,
.accordion-body,
.card{
    border: 1px solid var(--cor-fundo2);
}

.minicards .card{
    height: 320px;
    border: 2px solid var(--cor-fundo2);
    width: 45%;
}
.minicards .image-mini{
    width: 250px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.image-mini img{
    width: 100%;
    max-width: 400px;
}
.minicards-body,
.minicards-body-qtd{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    height: 120px;
    margin: 5px 0;
}
.minicards-body-qtd{
    height: 50px;
}
.minicards-body-qtd .list-group{
    width: 90%;
    align-items: center;
}
.minititulo{
    font-size: 15px;
    background: var(--cor-mule);
    color: var(--cor-fundo);
    text-align: center;
}
.minipreco{
    color: var(--cor-fundo);
    font-size: 20px;
    text-shadow: 0 0 8px black;
}
.accordion{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.divisor{
    width: 90%;
    height: 5px;
    border-radius: 50%;
    background: var(--cor-fundo2);
}
/* .titulo2{
    color: rgb(255, 255, 255);
} */