@import url("rootVariaveis.css");
body{
    background-color: var(--cor-fundo);
}
.container{
    background-color: var(--cor-fundo);
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    margin: 20px 0;
}
header img{
    width: 300px;

}
.accordion-item{
    background: var(--cor-fundo2);
}
.accordion-button{
    background: var(--cor-fundo);
}
.accordion-button.collapsed{
    background: var(--cor-mule);
}
.accordion-button .titulo{
    color: var(--cor-mule);
    
}
.accordion-button.collapsed .titulo{
    color: var(--cor-fundo);
}
.ingredientes{
    color: var(--cor-mule);
}